body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

navbar {
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    color: #333;
}

.nav-buttons {
    display: flex;
}

button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}
a {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}
button.profile-button {
    background-color: #4fa3d1;
    color: #fff;
}

button.green-button {
    background-color: #2ecc71;
    color: #fff;
}

header {
    text-align: center;
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #666;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}
